<div class="row">

  <div class="row">
    <div class="large-6 columns">
      <h1 id="poll-ques"><%= poll.escape("question") %></h1>
      <h3 class="subheader">Text (281) 374-4443 to vote.</h3>
      <br>
      <canvas id="myChart" height="440" width="440" style="width: 450px; height: 450px;"></canvas>
    </div>

    <div class="large-6 columns">
      <p></p>
      <ul id="answers" class="no-bullet">
        <% var i = 0 %>
        <% poll.get("answers").each(function(answer) { %>
          <div class="square" style="background-color: <%= PollCatApp.COLORS[i] %>;">
            <!-- insert vote count here -->
          </div>
          <% textCode+=1 %>
          <li>
            <h3><%= answer.attributes.body %>. <small>Text Code: <%= textCode+""+poll.id %></small></h3>
          </li>
            <% i++ %>
        <% }); %>
      </ul>

      <div class="row">
        <br>
        <div class="small-4 columns">
          <label for="url-label" class="right inline">Share this poll</label>
        </div>
        <div class="small-8 columns">
          <input type="text" id="url-label" value="<%= document.URL %>">
        </div>
      </div>

      <div class="row">
        <br>
          <button type="button" class="small button expand noshadow edit">Edit Poll</button>

          <button type="button" class="small button expand noshadow alert" data-reveal-id="deleteModal">
            Delete Poll
          </button>
          <input type="hidden" class="hidden-delete">
      </div>
    </div>
  </div>
</div>

<div id="deleteModal" class="reveal-modal medium">
  <h2>Are you sure you want to delete this poll?</h2>
  <p class="lead">Meow~</p>
  <div class="row">
    <div class="small-6 columns">
      <button type="button" class="large button expand noshadow alert delete">Yes, delete!</button>
    </div>
    <div class="small-6 columns">
        <button type="button" class="large button expand noshadow close-modal">No, take me back!</button>
    </div>
  </div>
  <div class="row">
    <div class="deleting"></div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
  var numAnswers = $("li").size();
  var pusher = new Pusher('280047e8dcfd93f78f89');
  var channel = pusher.subscribe('vote_channel');

  channel.bind('new_vote', function(data) {
    var pieData = [];

    //populate vote freq hash with default values
    for(var i = 0; i < numAnswers; i++) {
      if(typeof data.votes[i+1] === 'undefined')
        data.votes[i+1] = 0;
    }

    for(var i = 0; i < numAnswers; i++) {
      pieData.push({ value: data.votes[i+1], color: PollCatApp.COLORS[i] });
    }

    var ctx = $("#myChart").get(0).getContext("2d");
    var myPie = new Chart(ctx).Pie(pieData);
  });

  $('.close-modal').on('click', function() { $('a.close-reveal-modal').trigger('click') });
  $('.delete').on('click', function() {
    $('.deleting').append("<h2>Deleting...<small> redirecting to home page.</small></h2>");
    setTimeout(function() {
      $('a.close-reveal-modal').trigger('click');
      $('.hidden-delete').trigger('click');
    }, 2500);
  });

</script>