<div class="row">

  <div class="row">
    <div class="large-6 columns">
      <h1 id="poll-ques"><%= poll.escape("question") %></h1>
      <h3 class="subheader">Text (281) 374-4443 to vote.</h3>
      <br>
      <canvas id="myChart" height="440" width="440" style="width: 450px; height: 450px;"></canvas>
    </div>

    <div class="large-6 columns">
      <p></p>
      <ul id="answers" class="no-bullet">
        <% var i = 0 %>
        <% poll.get("answers").each(function(answer) { %>
          <div class="square" style="background-color: <%= PollCatApp.COLORS[i] %>;">
            <!-- insert vote count here -->
          </div>
          <% textCode+=1 %>
          <li>
            <h3><%= answer.attributes.body %>. <small>Text Code: <%= textCode+""+poll.id %></small></h3>
          </li>
            <% i++ %>
        <% }); %>
      </ul>

      <div class="row">
        <br>
        <div class="small-4 columns">
          <label for="url-label" class="right inline">Share this poll</label>
        </div>
        <div class="small-8 columns">
          <input type="text" id="url-label" value="<%= document.URL %>">
        </div>
      </div>

      <div class="row">
        <br>
          <button type="button" class="small button expand noshadow edit">Edit Poll</button>
      </div>

    </div>
  </div>
</div>

<script>
  var numAnswers = $("li").size();
  var pusher = new Pusher('280047e8dcfd93f78f89');
  var channel = pusher.subscribe('vote_channel');

  channel.bind('new_vote', function(data) {
    var pieData = [];
    var colors = ["#F38630", "#E0E4CC", "#69D2E7"];

    //populate vote freq hash with default values
    for(var i = 0; i < numAnswers; i++) {
      if(typeof data.votes[i+1] === 'undefined')
        data.votes[i+1] = 0;
    }

    for(var i = 0; i < numAnswers; i++) {
      pieData.push({ value: data.votes[i+1], color: PollCatApp.COLORS[i] });
    }

    var ctx = $("#myChart").get(0).getContext("2d");
    var myPie = new Chart(ctx).Pie(pieData);
  });

</script>