<!DOCTYPE html>
<html>
<head>
  <title>PollCatApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if current_user %>
  <%= button_to "Sign Out", session_url, :method => :delete, :class => "btn btn-primary" %>
<% end %>

</body>
</html>
