<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "PollCat" %></title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar">
      <!-- <p></p> -->
      <ul class="title-area">

        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">POLL CAT</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <!-- <ul class="left">
          <li class="divider"></li>
          <li><a href="#"></a></li>
        </ul> -->

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
            <li class="active"><a href="#">Sign In</a></li>
            <li class="divider"></li>
            <li><a href="#">Sign Up</a></li>
            <!-- <li class="has-form">
              <a class="button" href="#">Sign In</a>
            </li>
            <li class="has-form">
              <a class="button" href="#">Sign Up</a>
            </li> -->
        </ul>


      </section>
    </nav>


    <%= yield %>



    <div id="sticky_footer" class="text-center">
      <br>
      <h6 class="subheader"><i>Poll Cat &copy; 2013
      <br>
      created by irene nguyen.</i></h6>
      <p></p>
    </div>

    <%= javascript_include_tag "application" %>


  </body>
</html>
